html, body {
    margin: 0px;
    padding:0px;
}
.header1{
    background-color:#2f54a5;
    padding:10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.menu h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:white;
    display:block;
    margin: 0 8px;

}
.menu li {
    font-family: Poppins, sans-serif;
    color:white;
    display:block;
    margin: 0 8px;
}
.escola {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;

}
.menu ul{
    padding: 0px;

}
.titulo{
    color:#2f54a5; 
    font-size: 30px;
    font-family:Poppins, sans-serif;
    text-align: center;
    font-style:initial;

}

.data{
    color:#2f54a5;
    font-size: 20px;
    font-family:Poppins, sans-serif;
    text-align: center;
    
}
.video {
        position: relative;
        width: 40%;
        height: 0;
        padding-bottom: 25%;
        display:block;
        margin: auto;
        border: solid 5px;
        
      }
      .video iframe{
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

.motor {
    color:#ffffff;
    font-size: 15px;
    border: 2px solid #2f54a5;  
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
    margin: 10px 30px 10px 30px;
    display: inline;
    background-color: #2f54a5;
    font-family: Poppins, sans-serif;   
}
.relogio {
    color:#ffffff;
    font-size: 15px;
    border: 2px solid #2f54a5;  
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
    margin: 10px 30px;
    display: inline;
    background-color: #2f54a5;
    font-family:Poppins, sans-serif;   

}
.p1{
    color:#ffffff;
    font-family:Poppins, sans-serif;
    border: 5px solid #2f54a5;
    margin: 10px 30px;
    padding: 20px 20px 20px 20px;
    background-color: #2f54a5;
    border-radius: 20px;   
    box-shadow: #000000 30px;
}
.p2{
    color:#ffffff;
    font-family:Poppins, sans-serif;
    border: 5px solid #2f54a5;
    margin: 10px 30px;
    padding: 0px 20px 20px 20px;
    background-color: #2f54a5;
    border-radius: 20px;
     
}
body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color:#e9e9e9;

}
@media(max-width: 385px){
    .header1{
    flex-direction: column;
    }
    .video{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 60%;
        display:block;
        margin: auto;
        
      }
      .video iframe{
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
}
