html, body {
    margin: 0px;
    padding:0px;
}

.header1{
    background-color:#621B00;
    padding:10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 1px 1px #000000;
}

.menu h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color:white;
    display:block;
    margin: 0 8px;
}

.menu li {
    font-family: Poppins, sans-serif;
    color:white;
    display:block;
    margin: 0 8px;
}

.escola {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.menu ul{
    padding: 0px;
}

.titulo{
    color:black; 
    font-size: 30px;
    font-family:Poppins, sans-serif;
    text-align: center;
    font-style:initial;
}

.data{
    color:black;
    font-size: 20px;
    font-family:Poppins, sans-serif;
    text-align: center;
}

.video {
        position: relative;
        width: 40%;
        height: 0;
        padding-bottom: 25%;
        display:block;
        margin: auto;
        border: solid 5px black;
        margin-bottom: 25px;
        
      }
      .video iframe{
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

.motor {
    color:#f2f2f2;
    font-size: 15px;
    border: 2px solid #330E11;
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
    margin: 10px 30px 10px 30px;
    display: inline;
    background-color: #330E11;
    font-family: Poppins, sans-serif;   
}

.relogio {
    color:#f2f2f2;
    font-size: 15px;
    border: 2px solid #330E11;  
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
    margin: 10px 0px 0px 30px;
    display: inline-flex;
    background-color: #330E11;
    font-family:Poppins, sans-serif;  
}

.lampada {
    color:#f2f2f2;
    font-size: 15px;
    border: 2px solid #330E11;  
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
    margin: 10px 0px 0px 30px;
    display: inline-flex;
    background-color: #330E11;
    font-family:Poppins, sans-serif; 
}
.telefone {
    color:#f2f2f2;
    font-size: 15px;
    border: 2px solid #330E11;  
    border-radius: 20px;
    padding: 1px 5px 1px 5px;
    margin: 10px 0px 0px 30px;
    display: inline-flex;
    background-color: #330E11;
    font-family:Poppins, sans-serif; 
}
.telefonetext{
    color:#ffffff;
    font-family:Poppins, sans-serif;
    border: 5px solid #621B00;
    margin: 10px 30px;
    padding: 20px 20px 20px 20px;
    background-color: #621B00;
    border-radius: 20px;
    box-shadow: -10px 10px #3C1518;
}
.motortext{
    color:#ffffff;
    font-family:Poppins, sans-serif;
    border: 5px solid #621B00;
    margin: 10px 30px;
    padding: 20px 20px 20px 20px;
    background-color: #621B00;
    border-radius: 20px;
    box-shadow: -10px 10px #3C1518;
}

.relogiotext{
    color:#ffffff;
    font-family:Poppins, sans-serif;
    border: 5px solid #621B00;
    margin: 10px 30px;
    padding: 20px 20px 20px 20px;
    background-color: #621B00;
    border-radius: 20px;
    box-shadow: -10px 10px #3C1518;
}

.lamptext {
    color:#ffffff;
    font-family:Poppins, sans-serif;
    border: 5px solid #621B00;
    margin: 10px 30px;
    padding: 20px 20px 20px 20px;
    background-color: #621B00;
    border-radius: 20px;
    box-shadow: -10px 10px #3C1518;
}

body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color:#d6d6d6;
    c8d8e4
}
@media(max-width: 900px){
    .header1{
    flex-direction: column;
    }
    .video{
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 60%;
        display:block;
        margin: auto;
        margin-bottom: 25px;
      }
      .video iframe{
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}